@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-background font-sans antialiased;;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    @apply w-[90%] rounded-lg border border-gray-300 bg-white px-2 py-3
    text-gray-900 shadow-sm transition-all outline-none;
}

/* Focus states */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    @apply border-primary ring-2 ring-indigo-500/20;
}

label {
    @apply self-start mx-7 block text-sm font-medium ;
}

button ,input[type="submit"]{
    @apply cursor-pointer;
}


